---
layout: default
---
{%-include back_link.html-%}

<article>
  <p class="post-meta">
    <time datetime="{{ page.date }}">{{ page.date | date: site.theme_config.date_format }}</time>
	{% if page.categories %}<br>
	Categories: 
	{% for cat in page.categories %}
		{% if site.main_categories contains cat  %}
		<a href="{{-site.baseurl-}}/category/{{cat | slugify}}">{{ cat }}</a>
		{% endif %}
	{% endfor %}
  {% endif %}
  </p>
  
  <h2>{%-if page.series-title-%}<span class="series-title">{{ page.series-title }}</span><br>{%-endif-%}{{ page.title }}</h2>

  {{ content }}
</article>

{%-include next_prev_nav.html-%}

{%-if site.cactus_comments.shortname-%}
{%- if page.comments != false -%}
  <div id="comment-section"></div>
  <script>
  initComments({
    node: document.getElementById("comment-section"),
    defaultHomeserverUrl: "https://matrix.cactus.chat:8448",
    serverName: "cactus.chat",
    siteName: "{{ site.cactus_comments.shortname }}",
    commentSectionId: "{{ page.url }}"
  })
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://cactus.chat" rel="nofollow">comments powered by matrix.org.</a></noscript>
{%- endif -%}
{%-endif-%}
